html {
  scroll-behavior: smooth;
}

p {
  font-family: 'Merriweather', serif;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header a {
  position: absolute;
  bottom: 0;
}

.light-header {
  background-color: #f5f5f5;
  color: black;
}

.light-header svg {
  color: #87ceeb;
}

.light {
  background-color: #fafafa;
  color: black;
}

.dark-header {
  background-color: #212121;
  color: white;
}

.dark-header svg {
  color: #f0c420;
}

.dark {
  background-color: #303030;
  color: white;
}

.switch {
  position: absolute !important;
  top: 5%;
  right: 2%;
}

.main {
  padding-bottom: 100px;
}

.section {
  padding-top: 50px;
}

.about img {
  width: 200px;
  border-radius: 20%;
  vertical-align: middle;
}

.about p {
  display: inline-block;
  width: 30%;
  text-align: left;
  margin-left: 1%;
  vertical-align: middle;
  line-height: 1.5em;
}

@media only screen and (max-width: 750px) {
  .about p {
    display: block;
    margin-left: 22%;
    width: 60%;
  }
}

@media only screen and (max-width: 450px) {
  .about p {
    display: block;
    margin-left: 15%;
    width: 75%;
  }
}

.experience div {
  width: 40%;
  display: inline-block;
  margin-top: 2%;
}

@media only screen and (max-width: 1750px) {
  .experience div {
    width: 50%;
  }
}

@media only screen and (max-width: 1350px) {
  .experience div {
    width: 60%;
  }
}

@media only screen and (max-width: 1150px) {
  .experience div {
    width: 70%;
  }
}

.experience img {
  width: 50%;
}

.experience p {
  text-align: left;
  float: right;
  width: 45%;
  margin-top: 0;
  line-height: 1.5em;
}

@media only screen and (max-width: 1000px) {
  .experience div {
    width: 70%;
  }

  .experience p {
    text-align: left;
    float: none;
    width: 75%;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: inherit;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 750px) {
  .experience img {
    width: 70%;
  }
}

@media only screen and (max-width: 450px) {
  .experience img {
    width: 80%;
  }
  
  .experience p {
    width: 90%;
    margin-left: 10%;
  }
}

.skills p {
  line-height: 1.5em;
}

code {
  border-radius: 5px;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  padding: 0 5px;
  margin: 2px;
}

.light code {
  background-color: #eaeaea;
}

.dark code {
  background-color: #212121;
}

iframe {
  height: 80vh;
  width: 35%;
}

@media only screen and (max-width: 1500px) {
  iframe {
    width: 50%;
  }
}

@media only screen and (max-width: 1250px) {
  iframe {
    width: 65%;
  }
}

@media only screen and (max-width: 800px) {
  iframe {
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  iframe {
    width: 85%;
  }
}

.connect a {
  margin: 10px;
  text-decoration: none;
}

.dark svg {
  color: #f0c420;
}

.dark #email {
  color: #87ceeb;
}

.dark a {
  color: #87ceeb;
}